<mat-tab-group color="primary" *ngIf="!ongoingTraing">
  <mat-tab label="New Exercise">
    <!-- <app-new-training (trainingStart)="ongoingTraing = true"></app-new-training> -->
    <app-new-training></app-new-training>
  </mat-tab>
  <mat-tab label="Past Exercise">
    <app-past-training></app-past-training>
  </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="ongoingTraing"></app-current-training>
<!-- <app-current-training *ngIf="ongoingTraing" (trainingExit)="ongoingTraing = false"></app-current-training> -->
